In [4]:
print("Jai Bhairava Baba")

Jai Bhairava Baba

In [10]:
a= 12
print(a)
print(type(a))
type(a)

12
<class 'int'>

int

In [12]:
# To find location of a variable
i = 89
id(i)

140735086808744

''' Everything in python is an object, and object is part of some class
ex. <class 'int'>, <class 'float'>'''

In [15]:
my_var = True
print(my_var)
print(type(my_var))

True
<class 'bool'>

In [ ]:
# input() will always return a str value.
name = input("Enter your name : ")

print(name)
print(type(name))

In [8]:
# Multi line statement
a = 1 + 2 + \
    3 + 4 + \
    5 + 6

#or

b = (1 + 2 + 
    3 + 4 + 
    5 + 6 )

print(a)
print(b)

21
21

In [51]:
# Output Formating  
# {} -->> This is called placeholder

c = "Bhatt"
d = "Ji"

print("Who is {1} & {0}".format(d,c))

# or

#print("Who is {a} & {b}".format(a="Bhatt",b="Ji"))

Who is Bhatt & Ji

- Python does not impose a maximum length on identifiers; they can be as long as needed

- Identifiers in Python are the names used to identify:

Variables,
Functions,
Classes,
Modules,
Objects, etc.

In [23]:
celsius = 17
fahrenheit = (celsius * 9/5) + 32

print("Fahrenheit :", fahrenheit)

Fahrenheit : 62.6

In [29]:
# bitwise
bin(10)

'0b1010'

In [30]:
bin(17)

'0b10001'

In [ ]:
# And
10 & 17

0

In [ ]:
# or
10 | 17

27

In [ ]:
# xor 
10 ^ 17

27

🔁 Operators with Left-to-Right Associativity:

| Operator Type             | Example           | 
| ------------------------- | ----------------- | 
| Arithmetic                | `+ - * / // %`    |   
| Bitwise                   | \`&               | 
| Comparison                | `== != > < >= <=` | 
| Logical                   | `and or`          |  
| Sequence Index/Slice      | `mylist[1:3]`     | 
| Membership/Identity Tests | `in, is`          |

🔁 Operators with Right-to-Left Associativity:

| Operator Type         | Example            |
| --------------------- | ------------------ |
| Assignment            | `= += -= *=`       |
| Exponentiation        | `**`               |
| Ternary (conditional) | `x if cond else y` |

In [44]:
print(['f', 't'][bool('spam')])

'''
Explanation
my_list = ['f', 't']
index = bool('spam')  # True → 1
print(my_list[index])  # → my_list[1] → 't'
'''

t

"\nExplanation\nmy_list = ['f', 't']\nindex = bool('spam')  # True → 1\nprint(my_list[index])  # → my_list[1] → 't'\n"

In [45]:
num1 = 5 
num2 = 4

bin(num1)
bin(num2)

num1 & num2

4

In [48]:
P = 2000
R = 3
T = 4

print((P * R * T)/100)

240.0

Python program to find the largest element among three numbers

In [56]:
'''num1 = 1
num2 = 4
num3 = 17

if((num1 >= num2) and (num1 >= num3)):
    print("num1 is largest of given three numbers")
elif((num2 >= num1) and (num2 >= num3)):
    print("num2 is largest of given three numbers")
else:
    print("num3 is largest of given three numbers")
'''

num1 = 1
num2 = 4
num3 = 17

if((num1 >= num2) and (num1 >= num3)):
    largest = num1
elif((num2 >= num1) and (num2 >= num3)):
    largest = num2
else:
    largest = num3
print("Largest of given three numbers is {}".format(largest))

Largest of given three numbers is 17

In [63]:
'''
A year is a leap year if:

It is divisible by 4 and not divisible by 100, or

It is divisible by 400
'''

input = 2012

if(input % 4 == 0 and input % 100 !=0) or (input % 400 == 0):
    print("It's a leap year")
else:
    print("It is a regular year.")

It's a leap year

In [65]:
def is_leap_year(year):
    if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
        return "Leap year"
    else:
        return "Not a leap year"

print(is_leap_year(2012))  # Output: Leap year
print(is_leap_year(2017))  # Output: Not a leap year

Leap year
Not a leap year

In [72]:
n=17

for row in range(1, n+1):
    for j in range(1, row+1):
        print("*", end=" ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *
* * * * * * * * * * *
* * * * * * * * * * * *
* * * * * * * * * * * * *
* * * * * * * * * * * * * *
* * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * *

In [76]:
n=5
for row in range(n, 0, -1):
    print("*"*(row))

*****
****
***
**
*

In [81]:
#Centered Inverted Triangle (Pyramid Style)
n = 5
for row in range(n, 0, -1):
    spaces = n - row
    stars = 2 * row - 1
    print(" " * spaces + "*" * stars)

*********
 *******
  *****
   ***
    *

In [109]:
s=0
n=5
for i in range(1, n+1):
    s +=i
#print("Sum of first n mubers is: ", s)
print("Sum of first {} number is {}".format(n,s))

Sum of first 5 number is 15

In [94]:
n = 17
is_prime = True

for i in range(2,n):
    if(n%i == 0):
        is_prime = False

if(is_prime):
    print("The number {} is Prime number.".format(n))
else:
    print("The number {} is not Prime number.".format(n))

The number 17 is Prime number.

In [ ]:
N = 17
sum_odd = 0

for i in range(1, N+1):
    if(i%2 != 0):
        sum_odd += i
print ("Sum of all odd number in range 1 to {} is {}".format(N,sum_odd))

Sum of all odd number in range 1 to 17 is 81

In [133]:
N=17
odd_numbers=[]

for i in range(1,N+1):
    if(i%2 !=0):
        odd_numbers.append(i)
print("Odd number in range 1 to {}:".format(N), odd_numbers)

print("Sum of all odd number in range 1 to {} is:".format(N), sum(odd_numbers))

Odd number in range 1 to 17: [1, 3, 5, 7, 9, 11, 13, 15, 17]
Sum of all odd number in range 1 to 17 is: 81

In [149]:
# Input: distance in km and time in minutes
distance = 25
time = 20

base_price=50
free_kms=5
per_km_charge=10
free_mins=15
per_min_change=2

# Distance travelled
if distance > free_kms:
    extra_kms = distance - free_kms
    distance_charge = extra_kms * per_km_charge
else:
    distance_charge = 0 

# Time taken
if time > free_mins:
    extra_time_taken = time - free_mins
    time_charge = extra_time_taken * 2
else:
    time_charge = 0

total_fare = base_price + distance_charge + time_charge

print("Total cab fare for distance {} travelled in time {} is ₹{}".format(25,20, total_fare))

Total cab fare for distance 25 travelled in time 20 is ₹260

In [155]:
N=5
list=[]

for i in range(N, 0, -1):
    list.append(i)
print(list)

product=1
for num in list:
    product *= num
print(product)

[5, 4, 3, 2, 1]
120

In [156]:
N = 5
product = 1
for i in range(1, N + 1):
    product *= i

print(product)

120

In [171]:
N = 2534
total = 0
while N > 0:
    total += N % 10   # Add last digit
    N = N // 10       # Remove last digit

print(total)

14

In [177]:
cnt=0
my_str= "This is an Input string to count vowels"
for i in my_str:
    if i in "aeiouAEIOU":
        cnt +=1
print("The number of vowels in input string are {}.".format(cnt))

The number of vowels in input string are 11.

A palindrome string is a string that reads the same forward and backward.

ex. "madam", "racecar"

In [179]:
my_str = "madam"
rev_str = my_str[::-1]

if my_str == rev_str:
    print("{} is a Palindrome string.".format(my_str))
else:
    print("{} is not Palindrome string.".format(my_str))

madam is a Palindrome string.

In [182]:
my_str = "coding"
start= 0
end = len(my_str) -1

is_palindrome = True

while(start<=end):
    if(my_str[start] != my_str[end]):
        is_palindrome = False
        break

    start +=1
    end -= 1
    
if(is_palindrome):
    print("{} is a Palindrome string.".format(my_str))
else:
    print("{} is not Palindrome string.".format(my_str))

coding is not Palindrome string.

format(x, "10.4f")


Where:

x = 985.3556

"10.4f" is the format specification string

✅ Let's break it down:
"10.4f" means:
f → Fixed-point number (decimal format)

.4 → 4 digits after the decimal point

10 → Total width of the output (includes digits, decimal point, and spaces)

In [190]:
my_str = "JaSonAy"

middle_index = len(my_str) // 2
middle_3 = my_str[(middle_index -1 ):(middle_index + 2)]

print(middle_3)

Son

In [198]:
st = "PraTuL"

lowercase = ""
uppercase = ""

for char in st:
    if char.islower():
        lowercase += char
    elif char.isupper():
        uppercase += char

print(lowercase + uppercase)

rauPTL

In [201]:
s1 = "cdng python"
s2 = "coding minutes"

i = 0
j = 0

while(i<len(s1) and j>len(s2)):
    if s1[i] == s2[j]:
        i +=1
    j +=1

if i == len(s1):
    print("Yes")
else: print("No")

No

1. To create a matrix/an empty 2D, 3D (Multi dimension) list we use None.
Ex. 
C = [None, None ][None, None]

2. To create empty multi dimensions list of lot of row, columns.
[ [None]*10 ]*10

In [6]:
lst = [3, 5, 2, 7,8, 9]
steps = 4

for _ in range(steps):
    n=len(lst)
    key = lst[-1]

    for i in range(n-1, 0, -1):
        lst[i] = lst[i-1]

    lst[0]=key

lst

[2, 7, 8, 9, 3, 5]

In [8]:
# To reverse a list
lst[::-1]

[5, 3, 9, 8, 7, 2]

Below is not a valid form. i not in a is a condition (i.e., it evaluates to True or False), not something that Python can iterate over.

In [11]:
a = [0, 1, 2, 3]
i = -2

for i not in a:
    print(i)
    i += 1

SyntaxError: invalid syntax (3587516390.py, line 4)

To calculate the sum of the principal diagonal (also called the main diagonal) of a 2D square matrix, you sum the elements where the row index == column index.

In [13]:
matrix = [ [1,3,5], [1,4,6], [7,6,9] ]

sum_diagonal = 0

for i in range(len(matrix)):
    sum_diagonal += matrix[i][i]

print("The sum of the principal diagonal (also called the main diagonal) of a 2D square matrix is: {}".format(sum_diagonal))

The sum of the principal diagonal (also called the main diagonal) of a 2D square matrix is: 14

In [ ]:
marks = [78, 86, 66, 81, 66, 81, 50, 81, 23, 45, 79, 62, 86, 33]

def top_two_marks(marks):
    if len(marks) == 0:
        print("No marks to return")

    first = -1
    second = -1

# Fist highest marks
    for mark in marks:
        if mark > first:
            first = mark

# Second highest marks
    for mark in marks:
        if  mark != first and mark > second:
            second = mark
    
    print(first)
    if second != -1:
        print(second)
    else: print("There are no highest marks")


top_two_marks(marks)

86
81

In [20]:
lst = [8, 8, 8]

def top_two_marks(lst):
    if len(lst) == 0:
        print("No marks to return")
        return
    
    first = float('-inf')
    second = float('-inf')

# Fist highest marks
    for l in lst:
        if l > first:
            first = l

# Second highest marks
    for l in lst:
        if  l != first and l > second:
            second = l
    
    
    if second != float('-inf'):
        print(second)
    else: print(None)


top_two_marks(lst)

None

In [23]:
# For one element in tuple "," is mandatory. Only paranthesis is not enough.

#ex.
t = ('Mark')
type(t)        # This will return str

t = ('Mark', )
type(t)         # This will return tuple

tuple

In [27]:
# Tuple is 10 x faster then list.
# Tuple unpacking
t = (4, 2, 1)

a, b, c = t
print(a, b, c)

# or
print(*t)

4 2 1
4 2 1

In [28]:
# Tuple has only "Count" & "Index" attribute.

'''
why false is correct answer for below code?
a=(1,2,(4,5))
b=(1,2,(3,4))
a<b

Python compares tuples element by element, from left to right, just like in a dictionary sort.

'''

'\nwhy false is correct answer for below code?\na=(1,2,(4,5))\nb=(1,2,(3,4))\na<b\n\nPython compares tuples element by element, from left to right, just like in a dictionary sort.\n\n'