In [ ]:
# Given the code below, insert the correct method on line 3 in order to get the index at which the substring Bitcoin starts.

my_string = "In 2010, someone paid 10k Bitcoin for two pizzas."
print(my_string.find("Bitcoin"))

26

In [2]:
# Given the code below, insert the correct method on line 3 in order to check of the string starts with the letter X.

my_string = "In 2010, someone paid 10k Bitcoin for two pizzas."
print(my_string.startswith("X"))

False

In [3]:
# Given the code below, insert the correct method on line 3 in order to convert all uppercase letters to lowercase and all lowercase letters to uppercase.

my_string = "In 2010, someone paid 10k Bitcoin for two pizzas."
print(my_string.swapcase())

iN 2010, SOMEONE PAID 10K bITCOIN FOR TWO PIZZAS.

In [4]:
# Given the code below, insert the correct method on line 3 in order to remove all spaces (single Space characters from the keyboard) from the string.

my_string = "In 2010, someone paid 10k Bitcoin for two pizzas."
print(my_string.replace(" ", ""))

In2010,someonepaid10kBitcoinfortwopizzas.

In [5]:
# Given the code below, insert the correct method on line 3 in order to split the entire string in two parts, using the comma as a delimiter.

my_string = "In 2010, someone paid 10k Bitcoin for two pizzas."
print(my_string.split(","))

['In 2010', ' someone paid 10k Bitcoin for two pizzas.']

In [6]:
# Given the code below, insert the correct method on line 3 in order to join the characters of the string using the & symbol as a delimiter.

my_string = "In 2010, someone paid 10k Bitcoin for two pizzas."
print("&".join(my_string))

I&n& &2&0&1&0&,& &s&o&m&e&o&n&e& &p&a&i&d& &1&0&k& &B&i&t&c&o&i&n& &f&o&r& &t&w&o& &p&i&z&z&a&s&.

In [7]:
# Given the code below, insert the correct method on line 3 in order to convert the first letter of each word in the string to uppercase.

my_string = "In 2010, someone paid 10k Bitcoin for two pizzas."
print(my_string.title())

In 2010, Someone Paid 10K Bitcoin For Two Pizzas.

In [8]:
# Given the code below, use string formatting with the % operator on line 3 to map the values of 2010, 10k and Bitcoin to the corresponding formatting operators.

my_string = "In %s, someone paid %s %s for two pizzas."
print(my_string % ("2010","10k","Bitcoin"))

In 2010, someone paid 10k Bitcoin for two pizzas.

In [9]:
# Given the code below, use the correct function on line 3 in order to obtain the distance between num1 and 0.

num1 = -11
num2 = abs(num1)
print(num2 == 11) #should result in True

True

In [3]:
result = bool(150 % (10 ** 2 / 2))
print(result)

False

In [13]:
# Given the code below, use the correct code on line 3 in order to remove the element of my_list located at index 5.

my_list = [10, 10.5, 20, 30, 'Python', 'Java', 'Ruby']
my_list.pop(5)
print(my_list)

[10, 10.5, 20, 30, 'Python', 'Ruby']

# Difference between pop and remove function in python.
Both .pop() and .remove() are list methods in Python used to delete elements, but they work in different ways. Let’s break it down clearly.

| Feature                    | `.pop()`                                                    | `.remove()`                                       |
| -------------------------- | ----------------------------------------------------------- | ------------------------------------------------- |
| **Purpose**                | Removes an element **at a given index** (position).         | Removes the **first matching value** in the list. |
| **Argument**               | Takes an **index** (default is `-1`, meaning last element). | Takes a **value** (not an index).                 |
| **Return Value**           | Returns the element that was removed.                       | Returns `None`.                                   |
| **Error if not found**     | Raises `IndexError` if index is out of range.               | Raises `ValueError` if value is not in the list.  |
| **Changes List In-Place?** | ✅ Yes                                                       | ✅ Yes                                             |

In [4]:
# Given the code below, use the correct method on line 3 in order to insert the element 77 at index 4 in my_list.

my_list = [10, 10.5, 20, 30, 'Python', 'Java', 'Ruby']
my_list.insert(4, 77)

print(my_list)

[10, 10.5, 20, 30, 77, 'Python', 'Java', 'Ruby']

In [5]:
# Given the code below, use the correct method on line 3 in order to concatenate my_list with [100, 101, 102], by adding the latter at the end of my_list.
my_list = [10, 10.5, 20, 30, 'Python', 'Java', 'Ruby']
my_list.extend([100, 101, 102])

print(my_list)

[10, 10.5, 20, 30, 'Python', 'Java', 'Ruby', 100, 101, 102]

In [6]:
# Given the code below, use the correct function on line 3 in order to sort the elements of my_list in ascending order.
my_list = [10, 10.5, 20, 30, 25.6, 19.25, 11.01, 29.99]
asc = sorted(my_list)
 
print(asc)

[10, 10.5, 11.01, 19.25, 20, 25.6, 29.99, 30]

In [7]:
# Given the code below, use the correct function (and argument) on line 3 in order to sort the elements of my_list in descending order.
my_list = [10, 10.5, 20, 30, 25.6, 19.25, 11.01, 29.99]
asc = sorted(my_list, reverse = True)

print(asc)

[30, 29.99, 25.6, 20, 19.25, 11.01, 10.5, 10]

In [8]:
# Given the code below, use the correct function on line 3 in order to find out the smallest number in my_list.
my_list = [10, 10.5, 20, 30, 25.6, 19.25, 11.01, 29.99]
small = min(my_list)

print(small)

10

In [9]:
# Given the code below, use the correct method on line 3 in order to delete all the elements from my_list and obtain an empty list.

my_list = [10, 10.5, 20, 30, 25.6, 19.25, 11.01, 29.99]
my_list.clear()

print(my_list)

[]

In [11]:
# Given the code below, use the correct operators and parentheses on line 3 in order to add the elements of [30.01, 30.02, 30.03] to my_list and multiply the resulting list by 2.

my_list = [10, 10.5, 20, 30, 25.6, 19.25, 11.01, 29.99]
add = (my_list + [30.01, 30.02, 30.03]) * 2

print(add)

[10, 10.5, 20, 30, 25.6, 19.25, 11.01, 29.99, 30.01, 30.02, 30.03, 10, 10.5, 20, 30, 25.6, 19.25, 11.01, 29.99, 30.01, 30.02, 30.03]

In [12]:
# Given the code below, use the correct code on line 3 in order to return every fourth element of my_list starting with the last element of the list.
my_list = [10, 10.5, 20, 30, 'Python', 'Java', 'Ruby']
my_slice = my_list[::-4]

print(my_slice) #['Ruby', 20]

['Ruby', 20]

In [1]:
# Given the code below, write code in order to perform tuple assignment on line 3 and obtain the results below.

my_tup = ("Romania", "Poland", "Estonia")
(ro, po, es) = my_tup

print(ro + ", " + po + ", " + es) #returns 'Romania, Poland, Estonia'

Romania, Poland, Estonia

In [4]:
# Given the code below, use the correct method on line 3 in order to find out the last element of my_tup in alphabetical order.

my_tup = ("Romania", "Poland", "Estonia", "Bulgaria", "Slovakia", "Slovenia", "Hungary")
last = max(my_tup)

print(last) #should return Slovenia

Slovenia

In [6]:
# Given the code below, use the correct slice on line 3 in order to return all the elements of my_tup, except the first two of them, using a negative index.
my_tup = ("Romania", "Poland", "Estonia", "Bulgaria", "Slovakia", "Slovenia", "Hungary")
my_slice = my_tup[-5:]

print(my_slice)

('Estonia', 'Bulgaria', 'Slovakia', 'Slovenia', 'Hungary')

In [10]:
# Given the code below, use the correct code on line 3 in order to return the value associated with key 4. This time, use a method as a solution for this exercise!

crypto = {1: "Bitcoin", 2: "Ethereum", 3: "Litecoin", 4: "Stellar", 5: "XRP"}
value = crypto.get(4)

print(value)

Stellar

In [9]:
# Given the code below, use the correct code on line 3 in order to update the value associated with key 4 to "Cardano".

crypto = {1: "Bitcoin", 2: "Ethereum", 3: "Litecoin", 4: "Stellar", 5: "XRP"}
crypto.update({4: "Cardano"})

print(crypto[4])

Cardano

In [11]:
# Given the code below, use the correct code on line 3 in order to add a new key-value pair to the dictionary: 6: "Monero"

crypto = {1: "Bitcoin", 2: "Ethereum", 3: "Litecoin", 4: "Stellar", 5: "XRP"}
crypto[6] = "Monero" 
 
print(crypto[6])

Monero

In [12]:
# Given the code below, use the correct code on line 3 in order to return the number of key-value pairs in the dictionary.

crypto = {1: "Bitcoin", 2: "Ethereum", 3: "Litecoin", 4: "Stellar", 5: "XRP"}
number = len(crypto)

print(number)

5

In [13]:
# Given the code below, use the correct code on line 3 in order to delete the key-value pair associated with key 3. Do not use a method as a solution for this exercise!
crypto = {1: "Bitcoin", 2: "Ethereum", 3: "Litecoin", 4: "Stellar", 5: "XRP"}
 
del crypto[3]
 
print(crypto)

{1: 'Bitcoin', 2: 'Ethereum', 4: 'Stellar', 5: 'XRP'}

In [16]:
# Given the code below, use the correct code on line 3 in order to verify that 7 is not a key in the dictionary.Given the code below, use the correct code on line 3 in order to verify that 7 is not a key in the dictionary.

crypto = {1: "Bitcoin", 2: "Ethereum", 3: "Litecoin", 4: "Stellar", 5: "XRP"}
check = 7 not in crypto
 
print(check)

True

In [18]:
# Given the code below, use the correct function on line 3 in order to get the sum of all the keys in the dictionary.
crypto = {1: "Bitcoin", 2: "Ethereum", 3: "Litecoin", 4: "Stellar", 5: "XRP"}
add = sum(crypto)
 
print(add)

15

In [19]:
# Given the code below, use the correct method on line 3 in order to return and remove an arbitrary key-value pair from the dictionary.

crypto = {1: "Bitcoin", 2: "Ethereum", 3: "Litecoin", 4: "Stellar", 5: "XRP"}
crypto.popitem()
 
print(len(crypto))

4

In [20]:
# Given the code below, use the correct function on line 3 in order to convert value to a hexadecimal representation.
value = 10
conv = hex(value)

print(conv)

0xa

In [21]:
# Given the code below, use the correct function on line 3 in order to convert value from binary to decimal notation.
value = '0b1010'
conv = int(value, 2)

print(conv)

10

In [22]:
# Given the code below, use the correct function on line 3 in order to convert value from hexadecimal to decimal notation.
value = '0xa'
conv = int(value, 16)

print(conv)

10

In [26]:
x = "The days of Python 2 are almost over. Python 3 is the king now."

if type(x) == str and x[0] == "T":
    print("True!")

True!

In [27]:
x = "The days of Python 2 are almost over. Python 3 is the king now."
 
if type(x) is str and x.startswith("T"):
    print("True!")

True!

In [46]:
x = "The days of Python 2 are almost over. Python 3 is the king now."


if "z" in x or x.count("y") >= 2:
    print("True!")

True!

In [47]:
# Considering the code below, write code that prints out True! if the index of the first occurrence of letter f is less than 10 and prints out False! if the same condition is not satisfied.

x = "The days of Python 2 are almost over. Python 3 is the king now."

if x.index("f") > 10:
    print("True!")
else:
    print("False!")

False!

In [54]:
# Considering the code below, write code that prints out True! if the last 3 characters of the string are all digits and prints out False! otherwise.

x = "The days of Python 2 are almost over. Python 3 is the king now."

if x[-3:].isalnum():
    print("True!")
else:
    print("False!")

False!

In [58]:
x = [115, 115.9, 116.01, ["length", "width", "height"], 109, 115, 119.5, ["length", "width", "height"]]

if len(x) >= 8 and x[6] == float():
    print("True!")
else:
    print("False!")

False!

In [57]:
x = [115, 115.9, 116.01, ["length", "width", "height"], 109, 115, 119.5, ["length", "width", "height"]]

if len(x) >= 8 and type(x[6]) is float:
    print("True!")
else:
    print("False!")

True!

In [59]:
# Considering the code below, write code that prints out True! if x has at least 8 elements and the element positioned at index 6 is a floating-point number and prints out False! otherwise.

x = [115, 115.9, 116.01, ["length", "width", "height"], 109, 115, 119.5, ["length", "width", "height"]]

if len(x) >= 8 and type(x[6]) is float:
    print("True!")
else:
    print("False!")

True!

In [60]:
# Considering the code below, write code that prints out True! if the second string of the first list in x ends with the letter h and the first string of the second list in x also ends with the letter h, and prints out False! otherwise.

x = [115, 115.9, 116.01, ["length", "width", "height"], 109, 115, 119.5, ["length", "width", "height"]]

if x[3][1].endswith("h")  and x[7][1].endswith("h"):
    
    print("True!")
else:
    print("False!")

True!

In [71]:
x = [115, 115.9, 116.01, 109, 115, 119.5, ["length", "width", "height"]]

''' largest first max 3
<=
smallest next min 3'''

if max(x[:3]) <= min(x[3:6]):
    print("True!")
else:
    print("False!")

print(len(x[:2]))

False!
2

In [ ]:
x = [115, 115.9, 116.01, 109, 115, 119.5, ["length", "width", "height"]]

if x.count(115) >= 1 or x[0] == 115:
    print("True!")
else:
    print("False!")

True!

In [83]:
# if the value associated with key number 5 is Perl or the number of key-value pairs in the dictionary divided by 5 returns a remainder less than 2. Otherwise, print out False!
x = {1: "Python", 2: "Java", 3: "Javascript", 4: "Ruby", 5: "Perl", 6: "C#", 7: "C++"}

if x[5] == "Perl" or len(x)/5 > 2:
    print("True!")
else:
    print("False!")

True!

In [86]:
# True! if 3 is a key in the dictionary and the smallest value (alphabetically) in the dictionary is C#. Otherwise, print out False!

x = {1: "Python", 2: "Java", 3: "Javascript", 4: "Ruby", 5: "Perl", 6: "C#", 7: "C++"}

if 3 in x and sorted(x.values())[0] == "C#":
    print("True!")
else:
    print("False!")

True!

In [92]:
# write code that prints out True! if the last character of the largest (alphabetically) value in the dictionary is n. Otherwise, print out False!

x = {1: "Python", 2: "Java", 3: "Javascript", 4: "Ruby", 5: "Perl", 6: "C#", 7: "C++"}

if max(sorted(x.values()))[-1] == "n" :
    print("True!")
else:
    print("False!")

False!

In [102]:
x = {1: "Python", 2: "Java", 3: "Javascript", 4: "Ruby", 5: "Perl", 6: "C#", 7: "C++"}

print((sorted(x.keys()))[-2])

6

In [103]:
# If the largest key in the dictionary divided by the second largest key in the dictionary returns a remainder equal to the smallest key in the dictionary. Otherwise, print out False!

x = {1: "Python", 2: "Java", 3: "Javascript", 4: "Ruby", 5: "Perl", 6: "C#", 7: "C++"}

if max(sorted(x.keys())) % sorted(x.keys())[-2] == min(sorted(x.keys())):
    print("True!")
else:
    print("False!")

True!

In [116]:
'''Considering the code below, write code that prints out True! if the sum of all the keys in the dictionary is less than the number of 
characters of the string obtained by concatenating the values associated with the first 5 keys in the dictionary. Otherwise, print out False!'''

x = {1: "Python", 2: "Java", 3: "Javascript", 4: "Ruby", 5: "Perl", 6: "C#", 7: "C++"}

if sum(x.keys()) < len("".join(sorted(x.values())[:5])):
    print("True!")
else:
    print("False!")

False!

In [126]:
"""Considering the code below, write code that prints out True! if the 3rd element of the first range is less than 2, prints out False! if the 
5th element of the first range is 5, 
and prints out None! otherwise."""

x = [list(range(5)), list(range(5,9)), list(range(1,10,3))]

if x[0][3] < 2:
    print("True!")

elif x[0][4] == 5:
    print("False!")
else:
    print("None!")

None!

In [123]:
print(range(5))

range(0, 5)