In [ ]:
# Given the code below, insert the correct method on line 3 in order to get the index at which the substring Bitcoin starts.

my_string = "In 2010, someone paid 10k Bitcoin for two pizzas."
print(my_string.find("Bitcoin"))

26

In [2]:
# Given the code below, insert the correct method on line 3 in order to check of the string starts with the letter X.

my_string = "In 2010, someone paid 10k Bitcoin for two pizzas."
print(my_string.startswith("X"))

False

In [3]:
# Given the code below, insert the correct method on line 3 in order to convert all uppercase letters to lowercase and all lowercase letters to uppercase.

my_string = "In 2010, someone paid 10k Bitcoin for two pizzas."
print(my_string.swapcase())

iN 2010, SOMEONE PAID 10K bITCOIN FOR TWO PIZZAS.

In [4]:
# Given the code below, insert the correct method on line 3 in order to remove all spaces (single Space characters from the keyboard) from the string.

my_string = "In 2010, someone paid 10k Bitcoin for two pizzas."
print(my_string.replace(" ", ""))

In2010,someonepaid10kBitcoinfortwopizzas.

In [5]:
# Given the code below, insert the correct method on line 3 in order to split the entire string in two parts, using the comma as a delimiter.

my_string = "In 2010, someone paid 10k Bitcoin for two pizzas."
print(my_string.split(","))

['In 2010', ' someone paid 10k Bitcoin for two pizzas.']

In [6]:
# Given the code below, insert the correct method on line 3 in order to join the characters of the string using the & symbol as a delimiter.

my_string = "In 2010, someone paid 10k Bitcoin for two pizzas."
print("&".join(my_string))

I&n& &2&0&1&0&,& &s&o&m&e&o&n&e& &p&a&i&d& &1&0&k& &B&i&t&c&o&i&n& &f&o&r& &t&w&o& &p&i&z&z&a&s&.

In [7]:
# Given the code below, insert the correct method on line 3 in order to convert the first letter of each word in the string to uppercase.

my_string = "In 2010, someone paid 10k Bitcoin for two pizzas."
print(my_string.title())

In 2010, Someone Paid 10K Bitcoin For Two Pizzas.

In [8]:
# Given the code below, use string formatting with the % operator on line 3 to map the values of 2010, 10k and Bitcoin to the corresponding formatting operators.

my_string = "In %s, someone paid %s %s for two pizzas."
print(my_string % ("2010","10k","Bitcoin"))

In 2010, someone paid 10k Bitcoin for two pizzas.

In [9]:
# Given the code below, use the correct function on line 3 in order to obtain the distance between num1 and 0.

num1 = -11
num2 = abs(num1)
print(num2 == 11) #should result in True

True

In [3]:
result = bool(150 % (10 ** 2 / 2))
print(result)

False

In [13]:
# Given the code below, use the correct code on line 3 in order to remove the element of my_list located at index 5.

my_list = [10, 10.5, 20, 30, 'Python', 'Java', 'Ruby']
my_list.pop(5)
print(my_list)

[10, 10.5, 20, 30, 'Python', 'Ruby']

# Difference between pop and remove function in python.
Both .pop() and .remove() are list methods in Python used to delete elements, but they work in different ways. Let’s break it down clearly.

| Feature                    | `.pop()`                                                    | `.remove()`                                       |
| -------------------------- | ----------------------------------------------------------- | ------------------------------------------------- |
| **Purpose**                | Removes an element **at a given index** (position).         | Removes the **first matching value** in the list. |
| **Argument**               | Takes an **index** (default is `-1`, meaning last element). | Takes a **value** (not an index).                 |
| **Return Value**           | Returns the element that was removed.                       | Returns `None`.                                   |
| **Error if not found**     | Raises `IndexError` if index is out of range.               | Raises `ValueError` if value is not in the list.  |
| **Changes List In-Place?** | ✅ Yes                                                       | ✅ Yes                                             |

In [4]:
# Given the code below, use the correct method on line 3 in order to insert the element 77 at index 4 in my_list.

my_list = [10, 10.5, 20, 30, 'Python', 'Java', 'Ruby']
my_list.insert(4, 77)

print(my_list)

[10, 10.5, 20, 30, 77, 'Python', 'Java', 'Ruby']

In [5]:
# Given the code below, use the correct method on line 3 in order to concatenate my_list with [100, 101, 102], by adding the latter at the end of my_list.
my_list = [10, 10.5, 20, 30, 'Python', 'Java', 'Ruby']
my_list.extend([100, 101, 102])

print(my_list)

[10, 10.5, 20, 30, 'Python', 'Java', 'Ruby', 100, 101, 102]

In [6]:
# Given the code below, use the correct function on line 3 in order to sort the elements of my_list in ascending order.
my_list = [10, 10.5, 20, 30, 25.6, 19.25, 11.01, 29.99]
asc = sorted(my_list)
 
print(asc)

[10, 10.5, 11.01, 19.25, 20, 25.6, 29.99, 30]

In [7]:
# Given the code below, use the correct function (and argument) on line 3 in order to sort the elements of my_list in descending order.
my_list = [10, 10.5, 20, 30, 25.6, 19.25, 11.01, 29.99]
asc = sorted(my_list, reverse = True)

print(asc)

[30, 29.99, 25.6, 20, 19.25, 11.01, 10.5, 10]

In [8]:
# Given the code below, use the correct function on line 3 in order to find out the smallest number in my_list.
my_list = [10, 10.5, 20, 30, 25.6, 19.25, 11.01, 29.99]
small = min(my_list)

print(small)

10

In [9]:
# Given the code below, use the correct method on line 3 in order to delete all the elements from my_list and obtain an empty list.

my_list = [10, 10.5, 20, 30, 25.6, 19.25, 11.01, 29.99]
my_list.clear()

print(my_list)

[]

In [11]:
# Given the code below, use the correct operators and parentheses on line 3 in order to add the elements of [30.01, 30.02, 30.03] to my_list and multiply the resulting list by 2.

my_list = [10, 10.5, 20, 30, 25.6, 19.25, 11.01, 29.99]
add = (my_list + [30.01, 30.02, 30.03]) * 2

print(add)

[10, 10.5, 20, 30, 25.6, 19.25, 11.01, 29.99, 30.01, 30.02, 30.03, 10, 10.5, 20, 30, 25.6, 19.25, 11.01, 29.99, 30.01, 30.02, 30.03]

In [12]:
# Given the code below, use the correct code on line 3 in order to return every fourth element of my_list starting with the last element of the list.
my_list = [10, 10.5, 20, 30, 'Python', 'Java', 'Ruby']
my_slice = my_list[::-4]

print(my_slice) #['Ruby', 20]

['Ruby', 20]

In [1]:
# Given the code below, write code in order to perform tuple assignment on line 3 and obtain the results below.

my_tup = ("Romania", "Poland", "Estonia")
(ro, po, es) = my_tup

print(ro + ", " + po + ", " + es) #returns 'Romania, Poland, Estonia'

Romania, Poland, Estonia

In [4]:
# Given the code below, use the correct method on line 3 in order to find out the last element of my_tup in alphabetical order.

my_tup = ("Romania", "Poland", "Estonia", "Bulgaria", "Slovakia", "Slovenia", "Hungary")
last = max(my_tup)

print(last) #should return Slovenia

Slovenia

In [6]:
# Given the code below, use the correct slice on line 3 in order to return all the elements of my_tup, except the first two of them, using a negative index.
my_tup = ("Romania", "Poland", "Estonia", "Bulgaria", "Slovakia", "Slovenia", "Hungary")
my_slice = my_tup[-5:]

print(my_slice)

('Estonia', 'Bulgaria', 'Slovakia', 'Slovenia', 'Hungary')

In [10]:
# Given the code below, use the correct code on line 3 in order to return the value associated with key 4. This time, use a method as a solution for this exercise!

crypto = {1: "Bitcoin", 2: "Ethereum", 3: "Litecoin", 4: "Stellar", 5: "XRP"}
value = crypto.get(4)

print(value)

Stellar

In [9]:
# Given the code below, use the correct code on line 3 in order to update the value associated with key 4 to "Cardano".

crypto = {1: "Bitcoin", 2: "Ethereum", 3: "Litecoin", 4: "Stellar", 5: "XRP"}
crypto.update({4: "Cardano"})

print(crypto[4])

Cardano

In [11]:
# Given the code below, use the correct code on line 3 in order to add a new key-value pair to the dictionary: 6: "Monero"

crypto = {1: "Bitcoin", 2: "Ethereum", 3: "Litecoin", 4: "Stellar", 5: "XRP"}
crypto[6] = "Monero" 
 
print(crypto[6])

Monero

In [12]:
# Given the code below, use the correct code on line 3 in order to return the number of key-value pairs in the dictionary.

crypto = {1: "Bitcoin", 2: "Ethereum", 3: "Litecoin", 4: "Stellar", 5: "XRP"}
number = len(crypto)

print(number)

5

In [13]:
# Given the code below, use the correct code on line 3 in order to delete the key-value pair associated with key 3. Do not use a method as a solution for this exercise!
crypto = {1: "Bitcoin", 2: "Ethereum", 3: "Litecoin", 4: "Stellar", 5: "XRP"}
 
del crypto[3]
 
print(crypto)

{1: 'Bitcoin', 2: 'Ethereum', 4: 'Stellar', 5: 'XRP'}

In [16]:
# Given the code below, use the correct code on line 3 in order to verify that 7 is not a key in the dictionary.Given the code below, use the correct code on line 3 in order to verify that 7 is not a key in the dictionary.

crypto = {1: "Bitcoin", 2: "Ethereum", 3: "Litecoin", 4: "Stellar", 5: "XRP"}
check = 7 not in crypto
 
print(check)

True

In [18]:
# Given the code below, use the correct function on line 3 in order to get the sum of all the keys in the dictionary.
crypto = {1: "Bitcoin", 2: "Ethereum", 3: "Litecoin", 4: "Stellar", 5: "XRP"}
add = sum(crypto)
 
print(add)

15

In [19]:
# Given the code below, use the correct method on line 3 in order to return and remove an arbitrary key-value pair from the dictionary.

crypto = {1: "Bitcoin", 2: "Ethereum", 3: "Litecoin", 4: "Stellar", 5: "XRP"}
crypto.popitem()
 
print(len(crypto))

4

In [20]:
# Given the code below, use the correct function on line 3 in order to convert value to a hexadecimal representation.
value = 10
conv = hex(value)

print(conv)

0xa

In [21]:
# Given the code below, use the correct function on line 3 in order to convert value from binary to decimal notation.
value = '0b1010'
conv = int(value, 2)

print(conv)

10

In [22]:
# Given the code below, use the correct function on line 3 in order to convert value from hexadecimal to decimal notation.
value = '0xa'
conv = int(value, 16)

print(conv)

10

In [26]:
x = "The days of Python 2 are almost over. Python 3 is the king now."

if type(x) == str and x[0] == "T":
    print("True!")

True!

In [27]:
x = "The days of Python 2 are almost over. Python 3 is the king now."
 
if type(x) is str and x.startswith("T"):
    print("True!")

True!

In [46]:
x = "The days of Python 2 are almost over. Python 3 is the king now."


if "z" in x or x.count("y") >= 2:
    print("True!")

True!

In [47]:
# Considering the code below, write code that prints out True! if the index of the first occurrence of letter f is less than 10 and prints out False! if the same condition is not satisfied.

x = "The days of Python 2 are almost over. Python 3 is the king now."

if x.index("f") > 10:
    print("True!")
else:
    print("False!")

False!

In [54]:
# Considering the code below, write code that prints out True! if the last 3 characters of the string are all digits and prints out False! otherwise.

x = "The days of Python 2 are almost over. Python 3 is the king now."

if x[-3:].isalnum():
    print("True!")
else:
    print("False!")

False!

In [58]:
x = [115, 115.9, 116.01, ["length", "width", "height"], 109, 115, 119.5, ["length", "width", "height"]]

if len(x) >= 8 and x[6] == float():
    print("True!")
else:
    print("False!")

False!

In [57]:
x = [115, 115.9, 116.01, ["length", "width", "height"], 109, 115, 119.5, ["length", "width", "height"]]

if len(x) >= 8 and type(x[6]) is float:
    print("True!")
else:
    print("False!")

True!

In [59]:
# Considering the code below, write code that prints out True! if x has at least 8 elements and the element positioned at index 6 is a floating-point number and prints out False! otherwise.

x = [115, 115.9, 116.01, ["length", "width", "height"], 109, 115, 119.5, ["length", "width", "height"]]

if len(x) >= 8 and type(x[6]) is float:
    print("True!")
else:
    print("False!")

True!

In [60]:
# Considering the code below, write code that prints out True! if the second string of the first list in x ends with the letter h and the first string of the second list in x also ends with the letter h, and prints out False! otherwise.

x = [115, 115.9, 116.01, ["length", "width", "height"], 109, 115, 119.5, ["length", "width", "height"]]

if x[3][1].endswith("h")  and x[7][1].endswith("h"):
    
    print("True!")
else:
    print("False!")

True!

In [71]:
x = [115, 115.9, 116.01, 109, 115, 119.5, ["length", "width", "height"]]

''' largest first max 3
<=
smallest next min 3'''

if max(x[:3]) <= min(x[3:6]):
    print("True!")
else:
    print("False!")

print(len(x[:2]))

False!
2

In [ ]:
x = [115, 115.9, 116.01, 109, 115, 119.5, ["length", "width", "height"]]

if x.count(115) >= 1 or x[0] == 115:
    print("True!")
else:
    print("False!")

True!

In [83]:
# if the value associated with key number 5 is Perl or the number of key-value pairs in the dictionary divided by 5 returns a remainder less than 2. Otherwise, print out False!
x = {1: "Python", 2: "Java", 3: "Javascript", 4: "Ruby", 5: "Perl", 6: "C#", 7: "C++"}

if x[5] == "Perl" or len(x)/5 > 2:
    print("True!")
else:
    print("False!")

True!

In [86]:
# True! if 3 is a key in the dictionary and the smallest value (alphabetically) in the dictionary is C#. Otherwise, print out False!

x = {1: "Python", 2: "Java", 3: "Javascript", 4: "Ruby", 5: "Perl", 6: "C#", 7: "C++"}

if 3 in x and sorted(x.values())[0] == "C#":
    print("True!")
else:
    print("False!")

True!

In [92]:
# write code that prints out True! if the last character of the largest (alphabetically) value in the dictionary is n. Otherwise, print out False!

x = {1: "Python", 2: "Java", 3: "Javascript", 4: "Ruby", 5: "Perl", 6: "C#", 7: "C++"}

if max(sorted(x.values()))[-1] == "n" :
    print("True!")
else:
    print("False!")

False!

In [102]:
x = {1: "Python", 2: "Java", 3: "Javascript", 4: "Ruby", 5: "Perl", 6: "C#", 7: "C++"}

print((sorted(x.keys()))[-2])

6

In [103]:
# If the largest key in the dictionary divided by the second largest key in the dictionary returns a remainder equal to the smallest key in the dictionary. Otherwise, print out False!

x = {1: "Python", 2: "Java", 3: "Javascript", 4: "Ruby", 5: "Perl", 6: "C#", 7: "C++"}

if max(sorted(x.keys())) % sorted(x.keys())[-2] == min(sorted(x.keys())):
    print("True!")
else:
    print("False!")

True!

In [116]:
'''Considering the code below, write code that prints out True! if the sum of all the keys in the dictionary is less than the number of 
characters of the string obtained by concatenating the values associated with the first 5 keys in the dictionary. Otherwise, print out False!'''

x = {1: "Python", 2: "Java", 3: "Javascript", 4: "Ruby", 5: "Perl", 6: "C#", 7: "C++"}

if sum(x.keys()) < len("".join(sorted(x.values())[:5])):
    print("True!")
else:
    print("False!")

False!

In [126]:
"""Considering the code below, write code that prints out True! if the 3rd element of the first range is less than 2, prints out False! if the 
5th element of the first range is 5, 
and prints out None! otherwise."""

x = [list(range(5)), list(range(5,9)), list(range(1,10,3))]

if x[0][3] < 2:
    print("True!")

elif x[0][4] == 5:
    print("False!")
else:
    print("None!")

None!

In [7]:
[print(i) for i in range(1,10,3)]

1
4
7

[None, None, None]

In [8]:
''' Considering the code below, write code that prints out True! if the 3rd element of the 3rd range is less than 6, 
prints out False! if the 1st element of the second range is 5, and prints out None! otherwise.'''

x = [list(range(5)), list(range(5,9)), list(range(1,10,3))]

if x[2][2] < 6:
    print("True!")
elif x[1][0]== 5:
    print("False!")
else:
    print("None")

False!

In [9]:
''' Considering the code below, write code that prints out True! if the last element of the first range is greater than 3, 
prints out False! if the last element of the second range is less than 9, and prints out None! otherwise.'''

x = [list(range(5)), list(range(5,9)), list(range(1,10,3))]

if x[0][-1] > 3:
    print("True!")
elif x[1][-1] < 9:
    print("False!")
else:
    print("None")

True!

In [10]:
'''Considering the code below, write code that prints out True! if the length of the first range is greater than or equal to 5, 
prints out False! if the length of the second range is 4, and prints out None! otherwise.'''

x = [list(range(5)), list(range(5,9)), list(range(1,10,3))]

if len(x[0]) >= 5:
    print("True!")
elif len(x[1]) == 4:
    print("False!")
else:
    print("None!")

True!

In [11]:
'''Considering the code below, write code that prints out True! if the sum of all the elements of the first range is greater than the sum of 
all the elements of the third range, prints out False! if the largest element of the second range is greater than the largest element of the third range, 
and prints out None! otherwise.'''

x = [list(range(5)), list(range(5,9)), list(range(1,10,3))]

if sum(x[0]) > sum(x[2]):
    print("True!")
elif sorted(x[1])[-1] > sorted(x[2])[-1]:
    print("False!")
else:
    print("None!")

False!

In [ ]:
'''Considering the code below, write code that prints out True! if the largest element of the first range minus the second element of the 3rd range 
is equal to the first element of the first range, prints out False! if the length of the first range minus the length of the 2nd range is 
equal to the first element of the 3rd range, prints out Maybe! if the sum of all the elements of the 3rd range divided by 2 returns a remainder of 0, 
and prints out None! otherwise.'''

x = [list(range(5)), list(range(5,9)), list(range(1,10,3))]

if max(x[0]) - x[2][1] == x[0][0]:
    print("True!")
elif len(x[0]) - len(x[1]) == x[2][0]:
    print("False!")
elif sum(x[2]) % 2 == 0:
    print("Maybe!")
else:
    print("None!")

Maybe!

In [15]:
'''Considering the code below, write code that prints out True! if the sum of the last 3 elements of the first range plus the sum of the last 3 
elements of the 3rd range is equal to the sum of the last 3 elements of the 2nd range, and prints out False! if the length of the first range times 
2 is less than the sum of all the elements of the 3rd range.'''

x = [list(range(5)), list(range(5,9)), list(range(1,10,3))]

if sum(x[0][-3:]) + sum(x[2][-3:]) == sum(x[1][-3:]):
    print("True!")
elif len(x[0] * 2 < sum(x[2])):
    print("False!")

True!

In [31]:
'''Considering the code below, write code that prints out True! if the 2nd character of the value at key 1 is also present in the value at key 4, 
and prints out False! otherwise.'''

x = {1: "Python", 2: "Java", 3: "Javascript", 4: "Ruby", 5: "Perl", 6: "C#", 7: "C++"}

if x[1][1] in x[4]:
    print("True!")
else:
    print("False!")

True!

In [30]:
x = {1: "Python", 2: "Java", 3: "Javascript", 4: "Ruby", 5: "Perl", 6: "C#", 7: "C++"}
print(x[1][1])

y

In [33]:
'''Considering the code below, write code that prints out True! if the second to last character of the value at key 3 is the first character 
of the value at key 5, and prints out False! otherwise.'''

x = {1: "Python", 2: "Java", 3: "Javascript", 4: "Ruby", 5: "Perl", 6: "C#", 7: "C++"}

if x[3][-2] == x[5][0].startswith("P"):
    print("True!")
else:
    print("False!")

False!

In [37]:
'''Considering the code below, write code that prints out True! if the number of characters of the smallest value in the dictionary is equal 
 the number of occurrences of letter a in the value at key 3, and prints out False! otherwise.'''

x = {1: "Python", 2: "Java", 3: "Javascript", 4: "Ruby", 5: "Perl", 6: "C#", 7: "C++"}

if len(sorted(x.values())[0]) == x[3].count("a"):
    print("True!")
else:
    print("False!")

True!

In [36]:
x = {1: "Python", 2: "Java", 3: "Javascript", 4: "Ruby", 5: "Perl", 6: "C#", 7: "C++"}
print(x[3].count("a"))

2

In [45]:
'''Write a for loop that iterates over the x list and prints out the remainders of each element of the list divided by 3.'''

x = [10, 12, 13, 14, 17, 19, 21, 22, 25]

for i in x:
    print(i % 3)

1
0
1
2
2
1
0
1
1

In [53]:
'''Write a for loop that iterates over the x list and prints out all the elements of the list in reversed order and multiplied by 10.'''
x = [10, 12, 13, 14, 17, 19, 21, 22, 25]


'''x = x[::-1]
for i in x:
    print(i*10)'''

for i in sorted(x, reverse=True):
    print(i * 10)

250
220
210
190
170
140
130
120
100

In [54]:
'''Write a for loop that iterates over the x list and prints out all the elements of the list divided by 2 and the string Great job! after the list is exhausted.'''
x = [10, 12, 13, 14, 17, 19, 21, 22, 25]

for i in x:
    print(i / 2)
print("Great job!")

5.0
6.0
6.5
7.0
8.5
9.5
10.5
11.0
12.5
Great job!

In [64]:
'''Write a for loop that iterates over the x list and prints out the index of each element.'''
x = [10, 12, 13, 14, 17, 19, 21, 22, 25]

for i in x:
    print(i, ",", x.index(i))

10 , 0
12 , 1
13 , 2
14 , 3
17 , 4
19 , 5
21 , 6
22 , 7
25 , 8

In [76]:
# Write a while loop that prints out the value of x squared while x is less than or equal to 5. Be careful not to end up with an infinite loop!

x = 0

while range(0,6):
    print(x**2)
    x += 1
    if x >= 6:
        break

0
1
4
9
16
25

In [78]:
x = 0
 
while x <= 5:
    print(x ** 2)
    x += 1

0
1
4
9
16
25

In [79]:
'''Write a while loop that prints out the value of x times 10 while x is less than or equal to 4 and then prints out Done! 
when x becomes larger than 4. Be careful not to end up with an infinite loop!
'''

x = 0

while x <= 4:
    print(x*10)
    x += 1
print("Done!")

0
10
20
30
40
Done!

In [83]:
'''Write a while loop that prints out the value of x plus 10 while x is less than or equal to 15 and the remainder of x divided by 5 is 0. 
Be careful not to end up with an infinite loop!'''

x = 10

while x <= 15 and x % 5 ==0:
    print(x + 10)
    x += 1

20

In [87]:
'''Write a while loop that prints out the absolute value of x while x is negative. Be careful not to end up with an infinite loop!'''

x = -7

while x < 0:
    print(abs(x))
    x += 1

7
6
5
4
3
2
1

In [89]:
'''Write a while loop that prints out the value of x times y while x is greater than or equal to 5 and less than 10, and prints out the 
result of x divided by y when x becomes 10. Be careful not to end up with an infinite loop!'''

x = 5
y = 2

while x >= 5 and x < 10:
    print(x * y)
    x += 1
    if x == 10:
        print(x / y)

10
12
14
16
18
5.0

In [93]:
'''Write code that will iterate over the x list and multiply by 10 only the elements that are greater than 20 and print them out to the screen.'''
x = [10, 12, 13, 14, 17, 19, 21, 22, 25]

for i in x:
    if i > 20:
        print(i*10)

210
220
250

In [95]:
''''Write code that will iterate over the x and y lists and multiply each element of x with each element of y, also printing the results to the screen.'''
x = [2, 4, 6]
y = [5, 10]

for i in x:
    for j in y:
        print(i*j)

10
20
20
40
30
60

In [97]:
'''Write code that will iterate over the x and y lists and multiply each element of x with each element of y that is less than 12, 
also printing the results to the screen.'''
x = [2, 4, 6, 8]
y = [5, 10, 15, 20]

for i in x:
    for j in y:
        if i and j < 12:
            print(i*j)

10
20
20
40
30
60
40
80

In [99]:
'''Write code that will iterate over the x and y lists and multiply each element of x that is greater than 5 with each element of y that is less than 12, 
also printing the results to the screen.'''
x = [2, 4, 6, 8]
y = [5, 10, 15, 20]

for i in x:
    for j in y:
        if i > 5 and j <  12:
            print(i*j)

30
60
40
80

In [106]:
'''Write code that will iterate over the x and y lists and multiply each element of x with each element of y that is less than or equal to 10, 
also printing the results to the screen. For y's elements that are greater than 10, multiply each element of x with y squared.'''
x = [2, 4, 6, 8]
y = [5, 10, 15, 20]

for i in x:
    for j in y:
        if j <= 10:
            print(i*j)
        else:
            print(i*(j)**2)

10
20
450
800
20
40
900
1600
30
60
1350
2400
40
80
1800
3200

In [110]:
'''Write code that will print out each character in x doubled if that character is also inside y.'''
x = "cryptocurrency"
y = "blockchain"

for i in x:
    if i in y:
        print(i*2)

cc
oo
cc
nn
cc

In [112]:
'''Write code that will iterate over the range generated by range(9) and for each element that is between 3 and 7 inclusively print out 
the result of multiplying that element by the second element in the same range.'''

my_range = range(9)

for i in my_range:
    if 3 <= i <= 7 :
        print(i*my_range[1])

3
4
5
6
7

In [135]:
'''Write code that will iterate over the range starting at 1, up to but not including 11, with a step of 2, and for each element that is
 between 3 and 8 inclusively print out the result of multiplying that element by the last element in the same range. 
 For any other element of the range (outside [3-8]) print Outside!'''

for i in range(1, 11, 2):
    if 3 <= i <= 8:
        print(i*range(1, 11, 2)[-1])
    else:
        print("Outside!")

Outside!
27
45
63
Outside!

In [136]:
'''Write code that will iterate over the range starting at 5, up to but not including 25, with a step of 5, and for each element that is 
between 10 and 21 inclusively print out the result of multiplying that element by the second to last element of the same range. 
For any other element of the range (outside [10-21]) print Outside! Finally, after the entire range is exhausted print out The end!'''

for i in range(5, 25, 5):
    if 10 <= i <= 21:
        print(i * range(5, 25, 5)[-2])
    else:    
        print("Outside!")
print("The end!")

Outside!
150
225
300
The end!

In [142]:
''''Write a while loop that prints out the value of x times 11 while x is less than or equal to 11.  
When x becomes equal to 10, print out x is 10! Be careful not to end up with an infinite loop!'''

x = 5

while x <= 11:
    if x == 10:
        print(" x is 10!")
        x += 1
    print(x * 11)
    x += 1

55
66
77
88
99
 x is 10!
121

In [139]:
x = 5
 
while x <= 11:
    if x == 10:
        print("x is 10!")
        x = x + 1
    else:
        print(x * 11)
        x = x + 1

55
66
77
88
99
x is 10!
121

In [154]:
x = [1, 2]
y = [10, 100]

for i in x:
    for j in y:
        if i % 2 == 0:
            print(i * j)

20
200

In [157]:
'''Add the necessary clause(s) to the code below so that in case the ZeroDivisionError exception is raised then the program prints out Zero! to the screen. '''

try:
    print(25 % 0)
except ZeroDivisionError:
    print("Zero!")

Zero!

In [ ]:
''' Add the necessary clause(s) to the code below so that in case the code under try raises no exceptions then the program 
prints out the result of the math operation and the string Clean! to the screen.'''

try:
    print(25 % 5 ** 5 + 5)
except:
    print("Bug!")
else:
    print("Clean!")

30
Clean!

In [165]:
'''Add the necessary clause(s) to the code below so that no matter if the code under try raises any exceptions or not, 
then the program prints out the string Result! to the screen.'''
try:
    print(25 % 0 ** 5 + 5)
except:
    print("Bug!")
finally:
    print("Result!")

Bug!
Result!

In [166]:
'''Add the necessary clause(s) to the code below so that in case the code under try raises the ZeroDivisionError exception then the 
program prints out the string Zero! to the screen; additionally, if the code under try raises the IndexError exception then the program 
prints out the string Index! to the screen.'''

x = [1, 9, 17, 32]

try:
    print(x[3] % 3 ** 5 + x[4])
except ZeroDivisionError:
    print("Zero!")
except IndexError:
    print("Index!")

Index!

In [167]:
'''Add the necessary clause(s) to the code below so that in case the code under try raises no exceptions then the program prints out the 
result of the math operation and the string Clean! to the screen. If the code under try raises the ZeroDivisionError exception then 
the program prints Zero! to the screen. Ultimately, regardless of the result generated by the code under try, the program should print out Finish! to the screen.'''

try:
    print(25 % 5 ** 5 + 5)
except ZeroDivisionError:
    print("Zero!")
else:
    print("Clean!")
finally:
    print("Finish!")

30
Clean!
Finish!

In [171]:
'''Implement a function called my_func() that creates a variable add which stores the result of adding 10 and 20, 
and prints out the value of add. Don't forget to also call the function!'''

def my_func():
    add = 10 + 20
    print(add)

my_func()

30

In [180]:
'''Implement a function called my_func() that takes a single parameter x and multiplies it with 10, also returning the result when the function is called.'''

def my_func(x):
    return x * 10

result = my_func(7)
print(result)

70

In [181]:
'''Implement a function called my_func() that takes two parameters x and y and divides x by y, also returning the result when the function is called.'''

def my_func(x, y):
    return x / y

result = my_func(38,19)
print(result)

2.0

In [183]:
'''Implement a function called my_func() that takes 3 parameters x, y and z and raises x to the power of y then adds z, 
also returning the result when the function is called.'''

def my_func(x, y, z):
    return (x**y) + z

result = my_func(3,3,3)
print(result)

30

In [200]:
'''Implement a function called my_func() that takes a single parameter x and multiplies it with each element of range(5), 
also adding each multiplication result to a new (initially empty) list called my_new_list. Finally, the list should be printed out to 
the screen after the function is called.'''

def my_func(x):
    my_new_list = []
    for i in range(5):
        my_new_list.append(i * x)
    return my_new_list

result = my_func(2)
print(result)

# my_func(2)

[0, 2, 4, 6, 8]

In [201]:
'''Implement a function called my_func() that takes a single parameter x (a string) and turns each character of the string to uppercase, 
also returning the result when the function is called.'''

def my_func(x):
    return x.upper()
result = my_func("Satoshi Nakamoto")
print(result)

SATOSHI NAKAMOTO

In [212]:
'''Implement a function called my_func() that takes a single parameter x (a list) and eliminates all duplicates from the list, 
also returning the result when the function is called.'''

def my_func(x):
    return list(set(x))

result = my_func([11, 12, 13, 11, 15, 18, 18, 22, 20, 16, 12])
print(result)

[11, 12, 13, 15, 16, 18, 20, 22]

In [15]:
'''Implement a function called my_func() that takes a single parameter x (a tuple) and for each element of the tuple that is greater than 4 
it raises that element to the power of 2, also adding it to a new (initially empty) list called my_new_list. Finally, the code returns the result 
when the function is called.'''

def my_func(x):
    my_new_list = []
    for i in x:
        if i > 4:
            my_new_list.append(i**2)
    return my_new_list

result = my_func((2, 3, 5, 6, 4, 8, 9))
print(result)

[25, 36, 64, 81]

In [47]:
'''Implement a function called my_func() that takes a single parameter x (a dictionary) and multiplies the number of elements in the dictionary 
with the largest key in the dictionary, also returning the result when the function is called.
'''

def my_func(x):
    largest_key = max(x)
    return len(x) * largest_key

result = my_func({1: 3, 2: 3, 4: 5, 5: 9, 6: 8, 3: 7, 7: 0})
print(result)

49

In [49]:
'''Implement a function called my_func() that takes a single positional parameter x and a default parameter y which is equal to 10 and 
multiplies the two, also returning the result when the function is called.'''

def my_func(x, y=10):
    return x * y

result = my_func(5)
print(result)

50

In [50]:
'''Implement a function called my_func() that takes a single positional parameter x and two default parameters y and z 
which are equal to 100 and 200 respectively, and adds them together, also returning the result when the function is called.'''

def my_func(x, y=100, z=200):
    return x + y + z

result = my_func(50)
print(result)

350

In [ ]:
'''Implement a function called my_func() that takes two default parameters x (a list) and y (an integer), and returns 
the element in x positioned at index y, also printing the result to the screen when called.'''

def my_func(x, y):
    return x[y]

result = my_func(list(range(2,25,2)), 4)
print(result) #result should be 10

10

In [71]:
'''Implement a function called my_func() that takes a positional parameter x and a variable-length tuple of parameters and returns 
the result of multiplying x with the second element in the tuple, also returning the result when the function is called.'''

def my_func(x, *args):
    return x * args[1]

result = my_func(5, 10, 20, 30, 50)
print(result)

100

In [78]:
'''Implement a function called my_func() that takes a positional parameter x and a variable-length dictionary of (keyword) 
parameters and returns the result of multiplying x with the largest value in the dictionary, also returning the result when the function is called.'''

def my_func(x, **kwargs):
    return x * sorted(kwargs.values())[-1]

result = my_func(10, val1 = 10, val2 = 15, val3 = 20, val4 = 25, val5 = 30)
print(result)

300

In [80]:
'''Add the correct line(s) of code inside the function in order to get 200 as a result of calling my_func() and have the result printed out to the screen.'''

var = 10
 
def my_func(x):
	print(x * var)
	
my_func(20)

200

In [ ]:
def my_func(x):
    var = 12
    print(x * var)
	
my_func(10)

100

In [ ]:
'''Add the necessary code on line 5 in order to bring back the cursor at the very beginning of test.txt before reading from the file once again.'''

f = open("test.txt", "r")

f.read()

f.seek(0)

print(f.read())

FileNotFoundError: [Errno 2] No such file or directory: 'test.txt'

In [ ]:
'''the parentheses of print()) in order to get the current position of the cursor inside test.txt and have the result printed out to the screen.'''
f = open("test.txt", "r")

f.read(5)

print(f.tell())f = open("test.txt", "r")

f.read(5)

print(f.tell())

In [ ]:
'''Add the necessary code on line 5 (in between the parentheses of print()) in order to get the current mode in which test.txt is open (read, write etc.) and have the result printed out to the screen.'''"Logging details.txt"
f = open("test.txt", "r")
 
f.read(5)
 
print(f.mode)

In [ ]:
'''Add the necessary file access mode on line 1 in order to open test.txt for appending and reading at the same time.'''

f = open("test.txt", 'a+')

print(f.mode)

In [ ]:
'''Add the necessary code on lines 3 and 4 in order to write a list of strings ['python', ' ', 'and', ' ', 'java'] to test.txt and 
have the result of reading the file printed out to the screen.'''

f = open("test.txt", "w")
 
f.writelines(['python', ' ', 'and', ' ', 'java'])
f.close()
 
f = open("test.txt", "r")
 
print(f.read())

In [ ]:
'''Add the necessary code on lines 4 and 5 in order to delete the entire content of test.txt.'''

with open('test.txt', 'w') as f:
    # The file is now empty and ready for new content
    pass 

# or

with open("test.txt", "w") as f:
    f.write("python")
 
f = open("test.txt", "r+")
f.truncate()
 
f = open("test.txt", "r")
 
print(f.read())

In [101]:
'''Write code on line 5 in order to match the word Bitcoin at the beginning of the string using the match() method.'''
import re

s = "Bitcoin was born on Jan 3rd 2009 as an alternative to the failure of the current financial system. In 2017, the price of 1 BTC reached $20000, with a market cap of over $300B."

result = re.match("Bitcoin", s)

print(result.group())

'Bitcoin'

In [105]:
'''Write code on line 5 in order to match the word Bitcoin at the beginning of the string using the match() method and 
ignoring the case. This way, no matter if you have bitcoin or Bitcoin, the match is done either way.'''

import re

s = "Bitcoin was born on Jan 3rd 2009 as an alternative to the failure of the current financial system. In 2017, the price of 1 BTC reached $20000, with a market cap of over $300B."

result = re.match("bitcoin", s, re.I)

print(result.group())

'Bitcoin'

In [113]:
import re
 
s = "Bitcoin was born on Jan 3rd 2009 as an alternative to the failure of the current financial system. In 2017, the price of 1 BTC reached $20000, with a market cap of over $300B."
 
result = re.search(r"(\d{4}),", s)
 
print(result.group(1))

'2017'

In [115]:
'''Write a class called ClassOne starting on line 1 containing:

The __init__ method with two parameters p1 and p2. Define the corresponding attributes inside the __init__ method.

A method called square that takes one parameter p3 and prints out the value of p3 squared.'''

class ClassOne():
    def __init__(self, p1, p2):
        self.p1 = p1
        self.p2 = p2

    def square(self, p3):
        print(p3 ** 2)

p = ClassOne(1, 2)
print(type(p))

__main__.ClassOne

In [129]:
'''Considering the ClassOne class and the p object, write code on line 11 in order to access the p1 attribute for the current instance 
of the class and print its value to the screen.'''

class ClassOne(object):
    def __init__(self, p1, p2):
        self.p1 = p1
        self.p2 = p2
    
    def square(self, p3):
        print(p3 ** 2)
 
p = ClassOne(1, 2)
 
print(p.p1)

1

In [133]:
'''Considering the ClassOne class and the p object, write code on line 11 in order to call the square() method for the current 
instance of the class using 10 as an argument and print the result to the screen.'''

class ClassOne(object):
    def __init__(self, p1, p2):
        self.p1 = p1
        self.p2 = p2
    
    def square(self, p3):
        print(p3 ** 2)
 
p = ClassOne(1, 2)
 
print(p.square(10))

In [134]:
'''Considering the ClassOne class and the p object, write code on line 11 in order to set the value of the p2 attribute to 5 for 
the current instance of the class, without using a function.'''

class ClassOne(object):
    def __init__(self, p1, p2):
        self.p1 = p1
        self.p2 = p2
    
    def square(self, p3):
        print(p3 ** 2)

p = ClassOne(1, 2)
p.p2 =5


print(p.p2)

5

In [135]:
'''Considering the ClassOne class and the p object, write code on lines 11 and 12 in order to set the value of the p2 attribute to 
50 for the current instance of the class using a function, and then get the new value of p2, again using a function, and print it out to the screen as well.'''

class ClassOne(object):
    def __init__(self, p1, p2):
        self.p1 = p1
        self.p2 = p2
    
    def square(self, p3):
        print(p3 ** 2)
 
p = ClassOne(1, 2)
 
setattr(p, 'p2', 50)
print(getattr(p, 'p2'))

50

In [ ]:
'''Considering the ClassOne class and the p object, write code on line 11 in order to check if p2 is an attribute of p, using a 
function, also printing the result to the screen.'''

class ClassOne(object):
    def __init__(self, p1, p2):
        self.p1 = p1
        self.p2 = p2
    
    def square(self, p3):
        print(p3 ** 2)

p = ClassOne(1, 2)

50

In [142]:
'''Write a list comprehension on line 1 that will iterate over range(1, 5) and return a list of its elements.'''

cph = [i for i in range(1,5)]

print(cph)

[1, 2, 3, 4]

In [143]:
'''Write a list comprehension on line 1 that will iterate over range(1, 15, 5) and return a list of its elements squared.'''

cph = [i**2 for i in range(1, 15, 5)]

print(cph)

[1, 36, 121]

In [145]:
'''Write a list comprehension on line 1 that will iterate over range(5, 25, 3) and return a list of its elements squared 
only for the elements that are less than or equal to 16.'''

cph = [i**2 for i in range(5, 25, 3) if i <= 16]

print(cph)

[25, 64, 121, 196]

In [147]:
'''Write a dictionary comprehension on line 1 that will iterate over range(9) and return a dictionary of key-value pairs 
where the value is equal to the key times 3.'''

cph = {x: x * 3 for x in range(9)}
 
print(cph)

{0: 0, 1: 3, 2: 6, 3: 9, 4: 12, 5: 15, 6: 18, 7: 21, 8: 24}

In [148]:
'''Write a set comprehension on line 1 that will iterate over range(10, 19) and return a set of its elements divided by 2.5.'''

cph = {i/2.5 for i in range(10, 19)}

print(cph)

{4.0, 4.4, 4.8, 5.2, 5.6, 6.0, 6.4, 6.8, 7.2}

In [150]:
'''Write a lambda function on line 1 that takes two parameters x and y and multiplies x with y.'''

lam = (lambda x, y: x * y)

print(lam(2, 5))

10

In [154]:
'''Write a lambda function on line 1 that takes a list list1 as a parameter, and multiplies each element of range(1, 5) 
with each element of list1 using a list comprehension.'''

lam = lambda list1: [x * y for x in range(1, 5) for y in list1]
 
print(lam([1, 2]))

[1, 2, 2, 4, 3, 6, 4, 8]

In [156]:
'''Considering the ClassOne class and the p object, write code on line 11 in order to check if p2 is an attribute of p, using a function, 
also printing the result to the screen.'''

class ClassOne(object):
    def __init__(self, p1, p2):
        self.p1 = p1
        self.p2 = p2
    
    def square(self, p3):
        print(p3 ** 2)
 
p = ClassOne(1, 2)
 
print(hasattr(p, 'p2'))

True

In [159]:
'''Use the correct function from the itertools module on line 6, in between the parentheses of list(), in order to concatenate list1 and list2.'''

import itertools
 
list1 = [1, 2, 3]
list2 = [4, 5]
 
result = list(itertools.chain(list1, list2))
 
print(result)

[1, 2, 3, 4, 5]

In [160]:
'''Use the correct function from the itertools module with a for loop and a nested if/else block in order to return all the numbers 
starting at 20 and up to 31 with a step of 2. Be careful not to end up with an infinite loop!'''

import itertools
 
for i in itertools.count(20, 2):
    if i < 31:
        print(i)
    else:
        break

In [161]:
'''Use the correct function from the itertools module on line 5, in between the parentheses of list(), in order to return the elements 
for which the lambda function given as an argument returns False.'''

import itertools
 
lam = lambda x: x < 5
 
result = list(itertools.filterfalse(lam, range(10)))
 
print(result)

[5, 6, 7, 8, 9]

In [171]:
class ClassOne(object):
    def __init__(self, p1, p2):
        self.p1 = p1
        self.p2 = p2
    
    def square(self, p3):
        print(p3 ** 2)
 
class ClassTwo(ClassOne):
    def times10(self, x):
        return x * 10
        
obj = ClassTwo(15, 25)
 
print(obj.times10(45))

450

In [4]:
import decimal
inter = 10
print(decimal.Decimal(inter))
print(type(decimal.Decimal(inter)))

10
<class 'decimal.Decimal'>

In [5]:
import decimal
intstr = '12345'
print(decimal.Decimal(intstr))
print(type(decimal.Decimal(intstr)))

12345
<class 'decimal.Decimal'>

In [9]:
string = "I am Pratul"
print(string[::-1])

lutarP ma I

In [27]:
word = "pratul"

vowel = ["a", "e", "i", "o", "u"]

vowel_count = 0

for i in word:
    if i not in vowel:
        print(i , "," , "consonent found!!")
        vowel_count += 1
   

print(vowel_count)

print("All Done !!")

p , consonent found!!
r , consonent found!!
t , consonent found!!
l , consonent found!!
4
All Done !!

In [24]:
word = "MahaDev"

# vowel = ["a", "e", "i", "o", "u"] 
consonants = [
    "b", "c", "d", "f", "g", 
    "h", "j", "k", "l", "m", 
    "n", "p", "q", "r", "s", 
    "t", "v", "w", "x", "y", "z"
]

consonent_count = 0

for i in consonants:
    if i in word:
        print(i, ",", "Consonent Found !!")
        consonent_count += 1

print(consonent_count)
print("All Done !!")

h , Consonent Found !!
v , Consonent Found !!
2
All Done !!

In [34]:
word = "Programming"

count = 0 

for i in word:
    if i == "g":
        count += 1
        #print(i)
print(count)

2

In [37]:
s = "pratul"

print(len(s))

6

In [59]:
s = "pratul"
i = 1

if len(s) == 0:
    print("Empty String")
elif i < len(s):
    print(s[i])
else:
    print("i is out of range")

r

In [60]:
S = ""
print(s[::-1])

lutarp

In [5]:
'''Write a Python program that prints the first and last three characters of the string s as a single string.

If the string has less than six characters, print an empty string (blank output).'''

s = "Pratul Bhatt"

if len(s) > 6:
    print(s[:3] + s[-3:])
else:
    print("")

Praatt

In [54]:
'''Write a Python program that prints the string s without the characters located at even indices.

If the string is empty or only has one character, print it without any changes.'''

s = "HarHarMahaDev"
n = []

if len(s) <= 1:
      print(s)
else:
    for i in range(len(s)):
            if i % 2 != 0:
                print(s[i], ",", str(i))
                n += s[i]
    print(n)
    print(''.join(n))

a , 1
H , 3
r , 5
a , 7
a , 9
e , 11
['a', 'H', 'r', 'a', 'a', 'e']
aHraae

In [55]:
s = "HarHarMahaDev"
n = ""

if len(s) <= 1:
      print(s)
else:
    for i in range(len(s)):
            if i % 2 != 0:
                print(s[i], ",", str(i))
                n += s[i]
    print(n)

a , 1
H , 3
r , 5
a , 7
a , 9
e , 11
aHraae

In [62]:
'''Write a Python program that check if a string only contains numbers.

If it does, print True. Else, print False.'''

s = "12345"

while s.isdecimal() is True:
    print("True")
    break
else:
    print("False")

True

In [77]:
'''Write a Python program that prints the string s without the character at index n.

If the index n is out of range, print the string s intact.

If the string s is empty, print the string s intact.'''


s = "PRATULharharMahadev"
n = 1

new = ""

if len(s) <= 1:
    print(s)
if n > len(s):
    print(s)
else:
    for i in range(len(s)):
        if i == n:
            continue
        new += str(s[i])
    print(new)

PATULharharMahadev

In [ ]:
S